# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Gradle
.gradle/
build/
!**/src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# Forge / loom / vanilla-gradle
run/
runs/
.loom-cache/

# OS
.DS_Store
Thumbs.db
